<h1>New Vahicle</h1>
<p>
        {{vehicle | json}}
</p>
<form #f="ngForm" (ngSubmit)="submit()" novalidate>
    <div class="col-md-12 col-xs-12">
        <div class="form-4group">
            <label>Make</label>
            <select id="make" class="form-control" (change)="onMakeChanges()" [(ngModel)]='vehicle.makeId' name='makeId' required #make="ngModel">
                <option></option>
                <option *ngFor="let m of makes" value="{{m.id}}" > {{m.name}} </option>
            </select>
            <div class="alert alert-danger" *ngIf="make.touched && !make.valid" >Please specify the make</div>
        </div>
        <div class="form-4group">
            <label>Model</label>
            <select id="model" class="form-control" [(ngModel)]='vehicle.modelId' name='modelId' required #model="ngModel">
                <option></option>
                <option *ngFor="let m of models" value="{{m.id}}" > {{m.name}} </option>
            </select>
            <div class="alert alert-danger" *ngIf="model.touched && !model.valid" >Please specify the make</div>
        </div>
    </div>
    <div class="col-md-12 col-xs-12">
        <p> Is This Vehicle Register ?</p>
        <input type="radio" class="radio-inline" name="isRegistered" id="registered" value="true" [(ngModel)]="vehicle.isRegistered" > Yes
        <input type="radio" class="radio-inline" name="isRegistered" id="notregistered" value="false" [(ngModel)]="vehicle.isRegistered" > No
        <h2>Features</h2>
        <div *ngFor="let f of features">
        <label class="form-check-label" >
            <input type="checkbox" class="form-check-input" id="feature{{f.id}}" (change)="onFeatureToggle(f.id, $event)">
            {{f.name}}
        </label>
        </div>
    </div>
    <div class="col-md-12 col-xs-12">
        <h2>Person</h2>
        <div class="form-group">
            <label>Contact Person</label>    
            <input id="contactname" type="text" class="form-control" [(ngModel)]="vehicle.contact.name" name="contactName" required #contactname="ngModel">
            <div class="alert alert-danger" *ngIf="contactname.touched && !contactname.valid" >Please specify Contact Name</div>
        </div>
        <div class="form-group">
            <label>Email</label>    
            <input id="email" type="email" class="form-control" [(ngModel)]="vehicle.contact.email" name="contactEmail" required #contactemail="ngModel">
            <div class="alert alert-danger" *ngIf="contactemail.touched && !contactemail.valid" >Please specify Contact Email</div>
        </div>
        <div class="form-group">
            <label>Phone</label>    
            <input id="phoneno" type="number" class="form-control" [(ngModel)]="vehicle.contact.phone" name="contactPhone"> 
        </div>
    </div>
    <!-- <div *ngIf="f.valid"> -->
    <div>
            <button type="submit" onclick="submit()" >Save</button>
    </div>
</form>